Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@UEBoy2019 
/
1
10
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
Convert-KinectDK-k4a-image-to-Texture2D-for-UnrealEngine-4.25-/.gitattributes
@UEBoy2019
UEBoy2019 Update .gitattributes
Latest commit 2c8fa9c on 16 Oct 2020
 History
 1 contributor
21 lines (18 sloc)  769 Bytes
  
*.h linguist-language=c++
*.cpp linguist-language=c++
*.hpp linguist-language=c++
*.js linguist-language=HTML
*.css linguist-language=HTML
*.uproject linguist-language=BluePrint
*.uproject linguist-language=ue4
*.html linguist-language=HTML
*.py linguist-language=python
# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# Disable CRLF-mapping for all files.
* -text

# Ensure GitHub detects our C++ code as C++ code.
/Convert-KinectDK-k4a-image-to-Texture2D-for-UnrealEngine-4.25/** linguist-language=C++
/UEBoy2019/Convert-KinectDK-k4a-image-to-Texture2D-for-UnrealEngine-4.25/** linguist-language=C++

# Ensure GitHub detects our Perl legacy test harness code as Perl code instead of Raku.
*.pl linguist-language=Perl
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
